
    *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      background: #fcf6d9;
      color: black;
      text-align: center;
      width: 100vw;
    }
    .bg1{
      background: url(bg1.jpg);
    }
    /* Nav-Bar Styling */
    .nav-link{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5rem;
    }
    .mynav{
      /* background: linear-gradient(35deg, rgb(172, 127, 243), rgb(95, 18, 219)); */
      background-color: #948e84;
      color: black;
      width: 100%;
      .join{
        text-decoration: none;
        padding: 0px 20px;
      }
      .navbar-brand {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
        font-size: 2rem;
    margin-right: 2rem;
    }
  }
    input {
      width: 80%;
      max-width: 600px;
      padding: 12px;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
      border: none;
      font-size: 16px;

    }
    input:hover{
            box-shadow: inset 0 6px 15px rgba(234, 189, 189, 0.504);
    }
    .play-btn {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 12px 25px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
      background: rgba(255, 253, 253, 0.623);
      color: black;
      cursor: pointer;
    }
    button:hover {
      /* background: #4a22c3; */
            box-shadow: inset 10px 10px 15px rgba(174, 170, 170, 0.395);
    }

    #videoPlayer {
      width: 100%;
      height: 75vh;
    }
    h2{
      padding-top: 60px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 500;
    }
    .local-input{
      background: white;
    }
      .local-file{
      margin-top: 50px;
    }